streamlit==1.16.0
numpy>=1.25.0
pyproj>=3.5.0
pandas>=1.5.0
xarray>=2023.1.0
matplotlib>=3.6.0
geoviews>=1.10.0
holoviews>=1.17.0
cartopy>=0.24.0
shapely>=2.0.0

panel
holoviews
geoviews
xarray
cartopy
jupyterlab
